version: 2.1

orbs:
  aws-ecr: circleci/aws-ecr@7.3.0

jobs:
  aws-ecr:
    docker:
      - image: cimg/base:stable
    steps:
      - setup_remote_docker:
          version: 20.10.11
      - aws-ecr/build-and-push-image:
          dockerfile: Dockerfile
          repo: goodunited-supporter-service
          tag: latest,$CIRCLE_SHA1
  mes-ecr:
    docker:
      - image: cimg/base:stable
    steps:
      - setup_remote_docker:
          version: 20.10.11
      - aws-ecr/build-and-push-image:
          dockerfile: Dockerfile
          repo: goodunited-messaging-service
          tag: latest,$CIRCLE_SHA1        

workflows:
  build-and-push-to-ecr:
    jobs:
      - aws-ecr:
          context:
            - dev
          filters:
            branches:
              only:
                - main
      - mes-ecr:
          context:
            - dev
          filters:
            branches:
              only:
                - main          
